body {
    background-color: #ffffff;
    /*text-align: left;
    background-image:url("../kuvat/taus.png");
    background-repeat:repeat;*/ /* toistuu kahteen suuntaan */ /*
    background-image:url("../kuvat/pysty.jpg");
    background-repeat:repeat;
    background-image:url("../kuvat/vaaka.jpg");
    background-repeat:repeat;
    background-position: left;
    background-image:url("../kuvat/vaaka.jpg");
    background-repeat:repeat;
    background-position: right;
    */
    background-image:url("../kuvat/tumma.jpg");
    background-size: 100%;
    color: white;
    margin-left:60px;
    font-family:"Arial Bold", sans-serif;
    font-size:1.3em;
}   

h1 {
    color:#ffa500;
    margin-top:50px;
    font-family:"Trebuchet MS","Times New Roman";
    font-size:5em;
}

h2 {
    font-family:Verdana,serif;
    font-size:2em;
}

#tarkein {
    border:solid 1px #ffffff;
    border-radius:7px;
    padding:10px;
    background-color:#333333;
}

img {
    width:300px;
    border:3px #00ff00 solid;
    padding:10px;
    margin:100px;
    outline:3px dotted red;
}

.kuvateksti {
    color:#00ffff;
    font-style: italic;
}